<!DOCTYPE html>

<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>Rodapé</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
  
<body>

    <footer>
        <div class="container-rodape">
          
          <div class="links-uteis">
             <div class="Links-uteis">
                <h3>Links úteis</h3>
             </div>
                <ul>
                    <li><a href="/sounovo">Sou novo por aqui</a></li>
                    <li><a href="/doador">Doador</a></li>
                    <li><a href="/instituicao">Instituições Receptoras</a></li>  
                    <li><a href="/ajuda">Ajuda</a></li>   
                    <li><a href="/doacoes">Doações</a></li>   

                </ul>
            </div>
           
          <div class="contato">
               <div class="Contatos">
                <h3>Contatos</h3>
               </div> 
                <ul>
                    <li>Telefone: (85) 1234-4321</li>
                    <li>Email: doali@contato.com</li>
                </ul>
            </div>
            
          <div class="direitos-autorais">
              <p>© 2024 Doali. Todos os direitos reservados.</p>
              <img src="/images/Logo.png" alt="Logo pequena" class="logo-pequena">
          </div>
        </div>
    </footer>
</body>
</html>