<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/ajuda.css">
    <title>Ajuda- Doali</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

</head>
  
  <body>
    <%- include('./partials/header') %>

  <h1>AINDA SERÁ DESENVOLVIDO</h1>

         
      
      <footer>
              <%- include('./partials/footer') %>
          </footer>
      </body>
      </html>

  
