<!DOCTYPE html>

<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Instituição - Doali</title>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/instituicao.css">
</head>

<body>
    <%- include('./partials/header') %>

  
    <!--Boas-vindas -->
    <div class="container">
        <div class="boas-vindas-card card">
            <h2 class="titulointr">Bem-vinda, Instituição Parceira!</h2>
            <p class="descricao">
                Participe de nossa plataforma para conectar-se diretamente com doadores que apoiam suas causas.
            </p>
            <div class="text-center">
                <a href="/cadastrar" class="btn btn-warning btn-lg">Cadastre-se</a>
            </div>
            <div class="text-center"></div>
                <a href="/login" class="btn btn-warning btn-lg">Faça Login</a>
            </div>
        </div>
    

    <!-- Sobre o projeto -->
    
        <div class="card p-4 shadow-sm rounded-3">
            <h3 class="texto">Sobre o nosso projeto</h3>
            <p class="descricao-recurso">
                Nossa missão é apoiar instituições que promovem o bem-estar social. Conectamos você com doadores engajados para impulsionar projetos significativos e impactar positivamente a sociedade.
            </p>
            <p class="descricao-recurso">
                Através de nossa plataforma, você pode compartilhar seus projetos e interagir com apoiadores. Junte-se a nós e potencialize suas ações de impacto social.
            </p>
        </div>
    

    <!-- Recursos -->
    
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="card p-4 shadow-sm rounded-3">
                    <h3 class="titulo-recurso text-primary">Compartilhamento de projetos</h3>
                    <p class="descricao-recurso1">
                        Mantenha informações atualizadas e compartilhe com seus apoiadores de maneira simples e rápida.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card p-4 shadow-sm rounded-3">
                    <h3 class="titulo-recurso text-primary">Conexão com Doadores</h3>
                    <p class="descricao-recurso1">
                        Conecte-se com doadores que apoiam suas causas e mantenha um relacionamento próximo com a comunidade.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="card p-4 shadow-sm rounded-3">
                    <h3 class="titulo-recurso text-primary">Praticidade</h3>
                    <p class="descricao-recurso1">
                        Observe o crescimento no índice de interessados em se conectar com o seu projeto de maneira prática.
                    </p>
                </div>
            </div>
        </div>
     <hr class="linhaSeparadora">
</div>

  


    
            <!-- Login -->
        
          
        </div>

    </div>
     
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
