body {
  font-family: 'Poppins', sans-serif;
  background-color: #001433;
  margin: 0;
  padding-top: 70px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}

h1{
  color: #F0BB32;
  text-align:center;
}