body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9; 
  color: #2c3e50;
  margin: 0;
  padding-top: 70px; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: flex-start; 
}

/* Cartões */
.card, .card1, .card2 {
   width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px; 
    margin: 15px auto; 
    margin-top: 20px; 
    background-color: #f9f9f9;
}

.linhaSeparadora {
  margin: 30px 0;
  width: 70%;
  border-top: 2px solid #2980b9; 
}

.titulo {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  color: #f39c12; 
}

.titulo1, .titulo2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  color: #2980b9; 
}

.descricao {
  font-size: 18px;
  color: #555; 
  text-align: center;
  line-height: 1.6;  
}

.lista1, .lista2 {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
  line-height: 1.6;  
}

h4 {
  color: #2980b9;
  margin: 10px 0;
}

.etiqueta {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.etiqueta-card {
  border: 2px solid #f39c12; 
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center; 
  flex: 1;
  max-width: 400px;
  padding: 15px;
}

.etiqueta-card img {
  width: 80%;
  height: 250px;
  border-radius: 15px;
  padding: 20px;
}

.etiqueta-info {
  color: #333; 
  font-size: 18px;
  margin-top: 10px;
}

.etiqueta-info h2{
  color: #2980b9;
}