body {
  font-family: 'Poppins', sans-serif;
  background-color: #001433;
  margin: 0;
  padding-top: 70px;
}

.container {
  max-width: 90%;
  margin: 0px auto;
  padding: 0 20px;
  display: flex;

}

.card {
  border-radius: 20px;
  box-shadow: 0 5px 15px rgb(255, 255, 255, 0.1);
  padding: 10px; 
  margin: 15px auto; 
  margin-bottom: 15px; 
  background-color: #001433;
  width: 100%;
 
}

.linhaSeparadora {
    margin: 15px auto;
    width: 70%;
    border-top: 2px solid #538be0;

}

.card1, .card2{
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(255, 255, 255, 0.1);
  padding: 30px; 
  margin: 15px auto; 
  margin-bottom: 10px; 
  background-color: #f9f9f9;
  width: 40%;
  margin-left: 10px;
  display: fixed;
}

.card2 {
margin-right: 10px;
  }


.titulo {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #F0BB32;
  font-weight: normal;
  margin: 15px auto;
}

.titulo1{
  font-size: 20x;
  text-align: center;
  margin-bottom: 20px;
  color: #004cff;
  font-weight: normal; 
  margin-left: 15px;
}

.titulo2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #004cff;
    font-weight: normal; 
    margin-right: 15px;
  }
  
.descricao {
  font-size: 15px;
  color: #fffafa;
  text-align: center;
}

.lista1 {
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
  padding-left: 20px;
}

.lista2{
  font-size: 15px;
  color: #555;
  margin-bottom: 10px;
  padding-right: 20px;
}

h4{
  color:#004cff;
}

.link-inst {
  color: #555;
  font-size: 15px;
  text-decoration: none;
  line-height: 1.5;
}

.link-inst:hover {
  color: #004cff;
}

.link-inst a {
  color: #004cff;
  text-decoration: none;
}

.card-descricao {
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}


.etiqueta {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  align-content:center;
}


.etiqueta-card {
  border: 3px solid #fafbff;
  flex: 1;
  width: 60%; 
  background-color: #001433;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.etiqueta-card img {
  width: 45%;
  height: 200x;
  object-fit: cover;
  border-radius: 30px;
  margin: 20px auto;
  border: 2px solid #F0BB32; 

}

.etiqueta-info{
  padding: 20px;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  
  }

h2{
  font-weight: normal;
  color: #F0BB32;
}
