/* Estilos gerais */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 50px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Estilo do cartão de boas-vindas */
.boas-vindas-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto 50px auto;
  max-width: 800px;
}

.titulointr {
  font-size: 28px;
  color: #2980b9;
  margin-bottom: 20px;
}

.descricao {
  font-size: 18px;
  margin-bottom: 20px;
}

.boas-vindas p {
  font-size: 16px;
  color: #7f8c8d;
  line-height: 1.6;
}

/* Barra de pesquisa */
.search-bar {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 2px solid #2980b9;
  border-radius: 5px;
}

.search-bar select, .search-bar button {
  padding: 10px;
  border: 2px solid #2980b9;
  border-radius: 5px;
  background-color: #ffffff;
  color: #2980b9;
  cursor: pointer;
}

.search-bar button {
  background-color: #2980b9;
  color: #ffffff;
}

.search-bar button:hover {
  background-color: #3498db;
}

/* Lista de perfis */
.profiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px; /* Limite de largura para centralizar */
  margin: 0 auto;    /* Centraliza o grid */
  padding: 50px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

.profile-card img {
  width: 100%;
  height: auto;
}

.profile-info {
  padding: 20px;
}

.nomeinst {
  font-size: 22px;
  color: #2980b9;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 8px;
}

/* Footer */
footer {
  background-color: #2980b9;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
}

