body {
    margin: 0;
    padding-top: 70px; 
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff; 
}

.container{
  max-width: 90%;  
  margin: 0px auto;
  padding: 0 20px;
  display: flex;
}


.frase {
    margin: 25px auto;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #538be0;
}


.linhaSeparadora {
    margin: 15px auto;
    width: 50%;
    border-top: 2px solid #538be0;
}


/*Boas vindas*/
.boasVindas {
    background-color: #F0BB32; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 50px;
    margin-left: 0px;
    margin-right: 90px;
    border-radius: 0px 50px 50px 0px;
    height: 300px;
}

/* Texto */
.titulo {
    font-size: 30px;
    text-align: left;
    margin-left: 50px; 
    color: #ffffff;
    font-weight: normal; 
}

.descricao {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.5;
    text-align: left;
    margin-left: 50px; 
    margin-top: 10px;
}

/* Imagem */
.imagem {
    align-self: flex-start; 
    margin-top: -150px; 
}

/*Botões*/
.containerImagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


.imagemClicavel {
    width: 100%; 
    height: 500px; 
    object-fit: contain; 
    border-radius: 10px; 
    transition: transform 0.3s; 
    display: block;
    text-decoration: none;
}


.imagemClicavel:hover {
    transform: scale(1.05); 
}


@media (max-width: 768px) {
    
    .imagemClicavel {
        height: 150px;
    }

   
    .carousel,.containerImagens {
        width: 100%; 
        margin: 0 auto; 
    }
}
