body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f9fc; /* Fundo claro */
    color: #333; /* Texto escuro para contraste */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff; /* Fundo branco */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #0066cc; /* Cor do título */
}

h3 {
    margin-top: 40px;
    text-align: center;
    font-weight: 600;
    color:  #0066cc;; /* Cor mais suave */
    font-style: bold;
}

.card {
    background-color: #f9f9f9; /* Fundo suave para os cards */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card p {
    font-size: 1.1em;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Borda clara */
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #0066cc; /* Cor da borda ao focar */
}

button {
    background-color: #0066cc; /* Cor do botão */
    border: none;
    color: #ffffff;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    font-size: 1.1em;
}

button:hover {
    background-color: #0056a1; /* Cor ao passar o mouse */
    transform: translateY(-2px);
}



/* Adiciona responsividade */
@media (max-width: 480px) {
    h1 {
        font-size: 2em; /* Ajusta o tamanho do título em telas menores */
    }

    button {
        padding: 10px; /* Ajusta o padding para telas menores */
    }
}

.profile-pic {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic img {
    width: 200px; /* Tamanho menor da imagem */
    height: 200px; /* Tamanho menor da imagem */
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Cobre o espaço da imagem */
    border: 2px solid #000000; /* Borda da imagem */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.back-button {
    background-color: #ccc; /* Cor do botão de voltar */
    color: #333;
    margin-top: 10px; /* Espaço acima do botão */
    padding: 10px; /* Ajustado para ser consistente */
    width: 100%; /* Mantém a largura total */
  }
  
  .back-button:hover {
    background-color: #bbb; /* Cor ao passar o mouse */
  }
