
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding-top: 70px;
}

.container {
    max-width: 90%;
    margin: 0px auto;
    padding: 0 20px;
    dispaly: flex;
}

.card {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px; 
    margin: 15px auto; 
    margin-top: 20px; 
    background-color: #f9f9f9;
}

.row{
  align-content:center;
  margin: 0px auto; 
  margin-bottom: 10px; 
  width: 100%;
}

.titulo {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #F0BB32;
  font-weight: normal; 
}

.subtitulo {
  font-size: 20px;
  border: 2px solid #F0BB32;
  border-radius: 50px;
  padding: 5px;
  width: 45%;
  text-align: center;
  font-weight: normal; 
  color: #004cff;
  margin: 0px auto;   
}

  
.descricao {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    text-align:center;
}


.link-inst{
  color:#555;
  font-size:15px;
  text-decoration:landscape;
  line-height: 1.5;

}

.link-inst:hover{
  color:#004cff;
  font-size:15px;
  text-decoration:landscape;
}

.card-title{
  color: #004cff;
  font-size: 18px;
  text-wrap: none;
  font-weight: 2px; 

}


.card-descricao{
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  }

.carousel-item img {
  height: 400px; 
}